{% extends 'base.html' %}
{% load static %}
{% block title %}Checkout - Ruins of Versailles {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">   

<section class="checkout">    
    <div class="form-user">
        <div class="title">
            <h1>Ruins of <br>Versailles</h1>
            <p>Shipping Address</p>
        </div>        
        <form action="">   
            {{ form }}              
        </form> 
        <div class="alert alert-warning" role="alert">
            Note: This is a personal project and this is just a payment simulate, use a sandbox account of paypal.
    </div>
        <div id="paypal-button-container"></div>
    </div>
    <div class="summery">
        <div class="items"></div>
    </div>
</section>

<script src="{% static 'js/checkout.js' %}"></script>


<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: String(document.querySelector(".total:nth-child(3) span:nth-child(2)").textContent).replace("$ ","")
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            checkout()
        }


    }).render('#paypal-button-container');
</script>
</script>
{% endblock %}